# Node.js
/node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env

# Build output (Frontend)
/frontend/build/
/frontend/dist/

# Build output (Backend)
/backend/dist/

# Logs
logs
*.log
*.log.*

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/

# Operating system files
*.swp
*~
